h1{
    text-align: center;
}
.keret1{
    background-color: rgba(128, 128, 128, 0.61);
    margin-left: 10%;
    margin-right: 10%;
    font-size: 30;
    font-weight: 40;
    border-radius: 99.5px;

   
  
}
label,input {
    display: block;
    width: 150px;
    float: left;
    margin-bottom: 10px;
    
}
.lekerekitettdiv-Ellenseg{
    border-radius: 26%;
        
}

body {
    text-align: center;
    background-image: url(img/9-A-SIDE\ Pitch\ Dimensions.png);
    background-repeat: no-repeat;
    background-size: cover;
}
form {
    display: inline-block;
}