body
{
  background-image: url(img/labdarugas-foci-stadion-446848.jpg);
  background-repeat: no-repeat;
  background-size:cover ;
}
.jatekos1{
  background-color: rgb(117, 0, 0);
  margin-left: auto;
  border-radius: 17px;
  height: 298px;
  text-align: center;
  border: 3px, solid, black;
  width: 600px;
  position: absolute;
  top: 122px;
  right: 0;
  color: white;
  font-weight: bolder;
  font-size:x-large;
  justify-content: center;
  

}
.jatekos2{
  background-color: rgb(11, 0, 109);
  margin-left: auto;
  border-radius: 17px;
  height: 298px;
  border: 3px, solid, black;
  width: 600px;
  position: absolute;
  top: 444px;
  right: 0;
  color: white;
  font-weight: bolder;
  font-size:x-large;
  justify-content: center;
  text-align: center;


}
div{
  display: flex;
}
.time{
  font-family: sans-serif,"Poppins";
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 0;
  overflow: hidden;
}
.szamlalo{
  font-family: 'Times New Roman', Times, serif;
  font-size: 60px;
  margin: -150px  0 40px;
}
.countdown{
  display: flex;
  transform: scale(2);


}
.time{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 15px;
}
.time h2{
  font-weight: bold;
  font-size: 36px;
  line-height: 1;
  margin: 0 0 5px;
}
@media(max-width: 500px){
  h1{
    font-size: 30px;
  }
  .time{
    margin: 5px;
  }
  .time h2{
    font-size: 12px;
  }
}

.golstilus{
  background-color: rgb(97, 97, 97);
  margin-right: auto;
  border-radius: 20px;
  height: 125;
  text-align: center;
  border: 3px, solid, black;
  width: 600px;
  color: aliceblue;
  position: absolute;
  top: 122px;
  left: 0;
  height: 298px;
  border: 3px, solid, black;
  width: 600px;
  font-weight: bolder;
} 

.button {
  background-color: #2f3d47;
  border:2px, solid, black  ;
  color: white;
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  border-radius: 20px;
}
section{
  background-color: black;
  border-radius: 30px;
  width: 650px;
  height: 300px;
  text-align: center;
  border: 3px, solid, white;
  color: white;
  margin: auto;
  margin-top: 280px;
  font-weight: bolder;
  font-size: 550%;


}
article{
  background-color: rgb(97, 97, 97);
  margin-right: auto;
  border-radius: 20px;
  height: 125;
  text-align: center;
  border: 3px, solid, black;
  width: 600px;
  color: aliceblue;
  position: absolute;
  top: 444px;
  left: 0;
  height: 298px;
  border: 3px, solid, black;
  width: 600px;

}